
         
        
         <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
                  <div class="row">
               <label>Email</label>
               <input className="form-control" type ="Email" ng-model="newuser.eamil"/>
         </div>


         <div class="row">
              <label>Password</label>
               <input className="form-control" type="password" ng-model="newuser.password"/>
           </div>
           <button ng-click="createnewuser()">Submit</button>
        </div>  
        </div>

